.header-logo {
  width: 100px;
}

.restaurant-picture {
  width: 100%;
  height: 380px;
  object-fit: cover;
  object-position: center 75%;
}

.papa-mario-logo {
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 300px;
  border-radius: 50%;
}

.section-picture {
  height: 200px;
  width: calc(100% - 30px);
  object-fit: cover;
  object-position: center;
  margin-top: 30px;
  padding-left: 30px;
}

