.headerLogo {
  width: 100px;
}

.restaurantPicture {
  width: 100%;
  height: 380px;
  object-fit: cover;
  object-position: center 75%;
}

.restaurantLogo {
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 350px;
  border-radius: 50%;
}

.sectionPicture {
  height: 200px;
  width: calc(100% - 30px);
  object-fit: cover;
  object-position: center;
  margin-top: 30px;
  padding-left: 30px;
}
